body {
    margin: 0;
}

.wrapper {
    overflow-x: hidden;
    height: calc(100vh - 41px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.arrow-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 8px;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
}

.slide {
    display: flex;
}

.slide:hover {
    will-change: transform;
}

.slide li {
    flex-shrink: 0;
    width: 80vw;
    max-width: 800px;
    margin: 0 20px;
    opacity: 0.6;
    transform: scale(.8);
    transition: all .3s;
    box-shadow: 0 2px 4px rgba(0,0,0,.4);
    border-radius: 4px;
    overflow: hidden;
}

.slide li.active {
    opacity: 1;
    transform: scale(1)
}

[data-control="slide"]{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

[data-control="slide"] li a {
    display: block;
    width: 12px;
    height: 12px;
    background-color: #fb5;
    border-radius: 50%;
    overflow: hidden;
    text-indent: -999px;
    margin: 5px;
}

[data-control="slide"] li.active a, [data-control="slide"] li a:hover {
    background-color: #E54;
}