body {
    margin: 0;
}

.wrapper {
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
}

.slide {
    display: flex;
}

.slide:hover {
    will-change: transform;
}

.slide li {
    flex-shrink: 0;
    width: 80vw;
    max-width: 800px;
    margin: 0 20px;
    opacity: 0.6;
    transform: scale(.8);
    transition: all .3s;
    box-shadow: 0 2px 4px rgba(0,0,0,.4);
    border-radius: 4px;
    overflow: hidden;
}

.slide li.active {
    opacity: 1;
    transform: scale(1)
}